  
<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/res/styles.css" /><!-- we added the res/ as an endpoint to link to the public directory.
    so the code is looking in the public folder for anything called style.css.  There is no folder called res -->
  </head>
  <body>
    <header>😸🚗<span>Cats in Sportcars</span></header>
    <div id="main-cont">
      {{> menu}}
      <main>
        {{{body}}}
    </main>
    </div>
    <footer>&copy; 2020 Cool Kats</footer>
   </body>
</html>