 <nav>
    <ul id="nav-menu">
        {{#each menu}}
        <li><a class="menu_link" href="/{{pageKey}}"> {{title}}</a></li>  <!--this is link for each menu item (the for the URL /pageKey) -->
        {{/each}}
    </ul>
    {{> login}}
</nav>